<div class="w-1/3">
  <h2>{{ faceSnap.title }}</h2>
  <img class="w-full" [src]="faceSnap.imageUrl" [alt]="faceSnap.title" />
  <p>{{ faceSnap.description }}</p>
  <p>FaceSnap créée le {{ faceSnap.createdAt.toLocaleDateString("fr-FR") }}</p>
  <p>
    <button
      [class]="
        userHasLiked()
          ? 'cursor-pointer px-4 py-2 border-red-400 bg-red-100 text-red-700 border-1 rounded'
          : 'cursor-pointer px-4 py-2 border-green-400 bg-green-100 text-green-700 border-1 rounded'
      "
      (click)="toggleLike()"
    >
      {{ userHasLiked() ? "Dislike" : "J'aime" }}
    </button>
    {{ faceSnap.likes() }} 👍
  </p>
</div>
